<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">

    <title>Banco Itaú | Feito com você</title>
</head>

<body>
    <section class="faixa-nav">
        <section class="faixa-esquerda">
            <img src="../img/logo-itau-varejo-desktop.webp" alt="" width="48" height="48">
            <ul>
                <li>para você</li>
                <li>para empresas</li>
                <li>ajuda</li>
                <li>busca</li>
            </ul>
        </section>
        <section class="faixa-direita">
            <ul>
                <li>+ acessos</li>
                <li>abra sua conta</li>
            </ul>
        </section>
    </section>
    <section class="faixa-banner">
        <section class="emprestimo-consignado">
            <h2>Empréstimo Consignado</h2>
            <p>para aposentados e pensionistas INSS</p>
            <button>confira aqui</button>
        </section>
        <section class="foto"></section>
    </section>
    <section class="faixa-presente">
        <h2>presentear quem você ama nunca foi tão fácil</h2>
        <p>Aproveite as ofertas exclusivas que temos para você.</p>
    </section>
    <script src="../script/script.js"></script>
</body>

</html>